<h1 class='d-flex align-items-center justify-content-center'>Bienvenido a nuestro E-Commerce</h1>
<div class='container d-flex flex-direction-column flex-wrap justify-content-center'>

  <img src='/public/img/ecommerce.png' class='backend' alt='backend' />

</div>