<h1 class='d-flex align-items-center justify-content-center'>Iniciar Sesión</h1>
<div class='container d-flex flex-direction-column flex-wrap justify-content-center'>
    <form method="post" action="/login" >
   
    <img src="/public/img/login.jpg" class="arrow" alt="">
    <p class="pista" >"user: juanchi pass: taphanel"</p>
    <input placeholder="username" name="username" />
    <input placeholder="password" name="password" type="password" />
        <button  type="submit">Login</button>
    </form>

</div>