    <section class="mt-5 container d-flex flex-column align-items-center">
            <h1>Support Chat</h1>
            <div class="chat-container"></div>
            <form id="myAnchor" onsubmit="return sendMsg()">
                <input id="input-email" type="email" placeholder="Email" required="true"/>
                <div class="input-msg-container">
                <input type="text" id="inputMsg" placeholder="Mensaje" required="true">
                <button class="my-button" type="submit" >Send</button>
            </div>
            </form>
            
            <div id="mgs-area" class="chat-area">

            </div>
            </div> 
        </section>
